<h1><%= "Companies in the #{@industry.name} industry" %></h1>



<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Company Description</th>
    </tr>
  </thead>


<tbody>


<% @industry.companies.each do |company| %>
  <tr>
    <td><%= company.name  %></td>    
    <td><%= company.description %></td>
	<td><%= link_to "Edit Company", edit_company_path(company)%> </td>
  </tr>
      
    <% end %>


</tbody>










