<h1> Companies Index </h1>


<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>


<tbody>

<% @companies.each do |x| %>
  <tr>
    <td><%= x.name  %></td>    
    <td><%= x.description %></td>
	  <td> <%=  %></td>
  </tr>
      
    <% end %>

</tbody>






